@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

h1 {
  color: white;
  font-size: 27px;
  font-family: roboto;
}

#content {
  display: flex;
  flex: 4;
  flex-direction: row;
}

#main {
  display: flex;
  flex: 4;
  background-color: #212f3d;
}

/* header */

.header-container {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #1c2833;
  width: 100%;
}

#header-info {
  margin-left: 10px;
}

#header-info h2 {
  font-size: 20px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-family: roboto;
}

#header-info .green {
  color: #28b463;
}

.heading-picture img {
  border: 2px solid #28b463;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin: 7px 0px 5px 6px;
}

#top-menu-bar {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: #314253;
}

#top-menu-bar li {
  display: inline-block;
  position: relative;
}

#top-menu-bar a {
  display: inline-block;
  position: relative;

  color: white;
  padding: 6px 17px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 11px;
  margin: 2px 0px;
  letter-spacing: 1.5px;
  font-weight: 400;
}

#top-menu-bar a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #28b463;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.8s;
}

#top-menu-bar a:hover::after {
  width: 90%;
}

/* Home */

#home {
  width: 100%;
}

#home .about .profile .image-box img {
  width: 250px;
  border-radius: 10px;
}

.about .title {
  text-align: center;
  color: #28b463;
  margin-top: 10px;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  gap: 4rem;
}

.about .text {
  max-width: 320px;
  background-color: #314253;
  padding: 12px 12px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about .text h2 {
  margin-bottom: 10px;
  color: #28b463;
}

.text p {
  font-size: 14px;
  margin-bottom: 35px;
  text-align: start;
}

.about .profile {
  background-color: #314253;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 100%;
}

/* side-menu */

#side-menu {
  background-color: #192129;
}

#side-menu > section {
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
}

form .title h2 {
  letter-spacing: 3px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half {
  display: flex;
  flex-direction: column;
}

form .item {
  margin-bottom: 20px;
}

form .half .item input {
  border-radius: 3px;
  text-decoration: none;
  outline: 0;
  border: none;
  padding: 12px 5px;
  width: 100%;
  height: 20px;
  font-size: 12px;
  background-color: #314253;
  color: white;
}

#email {
  font-size: 14px;
}

::placeholder {
  color: white;
}

#subscriber {
  padding: 12px 5px;
  font-size: 14px;
}

form .full {
  margin-bottom: 20px;
}

form .full textarea {
  border-radius: 4px;
  border: 1.3px solid black;
  outline: 0;
  margin-top: 10px;
  color: white;
  background-color: #314253;
  padding: 5px 5px;
  width: 100%;
  height: 130px;
  font-size: 13px;
}

form .action input {
  border-radius: 4px;
  background-color: #314253;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  outline: 0;
  padding: 5px 23px;
}

/* table */

#languages h3 {
  margin: 20px;
}

table {
  border: 3px solid #28b463;
  border-collapse: collapse;
  width: 50%;
  min-width: 350px;
  margin: 0px 0px 0px 20px;
}

td {
  color: whitesmoke;
  font-size: 12px;
  padding: 7px;
}

th {
  color: whitesmoke;
  font-size: 12px;
  padding: 5px;
}

/* footer */

footer {
  min-height: 10px;
  padding: 6px 0px;
  text-align: center;
  background-color: #314253;
  color: #f5f5f5;
}

footer a {
  display: inline-block;
  font-size: 1.2rem;
  color: white;
  margin: 0px 7px;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  transform: scale(1.3);
  color: white;
}

/* Skills */

#skills {
  width: 100%;
  padding: 40px 10%;
}

.header {
  width: 100%;
  margin-bottom: 40px;
  display: grid;
  place-items: center;
}

.header h2 {
  margin-bottom: 5px;
}

.header h2 span {
  color: #28b463;
}

/* Icons */

.wrapper {
  display: flex;
  justify-content: center;
}

.skills-container {
  display: flex;
  width: 600px;
  background-color: #314253;
  font-size: 12px;
  padding: 2.3rem;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  color: white;
  font-weight: 600;
  margin-bottom: 5rem;
}

.skill-main .skill-bar .info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 5px;
}

.info p {
  font-weight: 400;
}

.skill-container .caption {
  text-align: center;
  margin-top: 5px;
}

.skill-bar .bar {
  width: 100%;
  height: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.344);
  border-radius: 25px;
  margin-top: 5px;
}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #28b463;
  border-radius: 25px;
}

.skill-bar .bar .html {
  width: 90%;
  animation: html 3s;
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

.skill-bar .bar .css {
  width: 85%;
  animation: css 3s;
}

@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

.skill-bar .bar .js {
  width: 70%;
  animation: js 3s;
}

@keyframes js {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

.skill-bar .bar .angular {
  width: 20%;
  animation: angular 3s;
}

@keyframes angular {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}

.skill-bar .bar .node {
  width: 40%;
  animation: node 3s;
}

@keyframes node {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}

.skill-bar .bar .express {
  width: 65%;
  animation: express 3s;
}

@keyframes express {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

.skill-bar .bar .mongo {
  width: 35%;
  animation: mongo 3s;
}

@keyframes mongo {
  0% {
    width: 0;
  }
  100% {
    width: 35%;
  }
}
.skill-bar .bar .react {
  width: 75%;
  animation: react 3s;
}

@keyframes react {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  #home .about {
    flex-direction: column;
    padding: 2rem;
  }

  #skills {
    padding: 1rem;
  }

  .skill-main {
    grid-template-columns: 1fr;
    width: 300px;
  }

  .skills-container {
    padding: 1rem;
    width: 300px;
  }

  #languages table {
    min-width: 200px;
  }
} ;
