@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

h1 {
  color: whitesmoke;
  font-size: 18px;
}

#header-info h2 {
  font-size: 13px;
  margin-top: 10px;
  color: whitesmoke;
  font-weight: bold;
}

#side-menu {
  background-color: #475569;
}

form .title h2 {
  letter-spacing: 3px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half {
  display: flex;
  flex-direction: column;
}

form label {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  color: white;
}

form .item {
  margin-bottom: 20px;
}

form .half .item input {
  border-radius: 4px;
  text-decoration: none;
  outline: 0;
  border: 1.3px solid black;
  padding: 5px;
  width: 100%;
  height: 20px;
  font-size: 13px;
}

form .full {
  margin-bottom: 20px;
}

form .full textarea {
  border-radius: 4px;
  border: 1.3px solid black;
  outline: 0;
  padding: 5px 5px;
  width: 100%;
  height: 150px;
  font-size: 13px;
}

form .action input {
  border-radius: 4px;
  border: 1.3px solid black;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  outline: 0;
  padding: 5px 23px;
}

#side-menu > section {
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
}

#header-info {
  margin-left: 10px;
}

.header-container {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  width: 100%;
}
.heading-picture img {
  border: 2px solid rgb(255, 255, 255);
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin: 7px 0px 5px 6px;
}

#content {
  display: flex;
  flex: 4;
  flex-direction: row;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
}

#main {
  display: flex;
  flex: 4;
  border-radius: 2px;
}

#home {
  flex: 1;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
  padding: 10px;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
}

#home h3 {
  color: whitesmoke;
  font-size: 13px;
  margin-bottom: 12px;
  margin-top: 8px;
  margin-left: 20px;
}

table {
  border: 3px solid #1e293b;
  border-collapse: collapse;
  width: 50%;
  min-width: 350px;
  margin: 0px 0px 0px 20px;
}

td {
  color: whitesmoke;
  font-size: 12px;
  padding: 7px;
}

th {
  color: whitesmoke;
  font-size: 12px;
  padding: 5px;
}

.skills {
  border: 5px solid rgb(6, 12, 17);
  border-radius: 0.8rem;
  background: rgb(75, 178, 37);
}

#top-menu-bar {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: #1e293b;
}

#top-menu-bar li {
  display: inline-block;
  position: relative;
}

#top-menu-bar a {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: white;
  padding: 6px 17px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 10px;
  margin: 2px 0px;
  letter-spacing: 1.5px;
}

#top-menu-bar a::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(240, 230, 113);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

#top-menu-bar a:hover::after {
  width: 90%;
}

#top-menu-bar #active {
  color: rgb(240, 230, 113);
}

#main ul li {
  list-style-type: none;
}

#btn:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  min-height: 20px;
}

.form-row h2 {
  font-size: 1rem;
  margin-bottom: 8px;
  color: black;
}

.form-row2 {
  margin-top: 6px;
}

label {
  color: black;
  font-size: 13px;
}

.icons {
  text-align: center;
  padding-top: 5px;
  min-height: 30px;
  background-color: #057988;
}

footer {
  min-height: 10px;
  padding: 6px 0px;
  text-align: center;
  background-color: #1e293b;
  color: #f5f5f5;
}

footer a {
  display: inline-block;
  color: whitesmoke;
  margin: 0px 4px;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  transform: scale(1.3);
}
